<div class="chat-thread-container">
  <div class="chat-thread-header">
    <h2>Chat</h2>
  </div>

  <div class="all-chat-messages" #scrollContainer>
    <div
      *ngFor="let msg of chats"
      [class.mine]="isSenderMe(msg.senderId)"
      class="chat-container"
      #messageElement
    >
      <div class="bubble-and-username">
        @if(msg.replyToMessageId){
        <div class="reply-preview">
          <p class="reply-user">
            <strong>{{ userNameMap[msg.senderId] }}</strong> replied to
            <strong>{{ getMessageSenderName(msg.replyToMessageId) }}</strong>
          </p>
          <p class="reply-content">
            {{ getMessageContent(msg.replyToMessageId) }}
          </p>
        </div>
        } @else if (!isSenderMe(msg.senderId)) {
        <div class="sender-name">
          {{ userNameMap[msg.senderId] }}
        </div>
        }

        <div class="chat-bubble">
          <div class="text">{{ msg.content }}</div>
          <div class="timestamp">{{ msg.sentAt | date : "MMM d, h:mm a" }}</div>

          <!-- seen by -->
          <div
            class="seen-by"
            *ngIf="msg.messageSeenStatuses?.length"
            (mouseenter)="hoveredMessageId = msg.id!"
            (mouseleave)="hoveredMessageId = null"
          >
            <i class="fas fa-eye"></i>
            <span class="count">{{ msg.messageSeenStatuses?.length }}</span>
            <div class="seen-tooltip" *ngIf="hoveredMessageId === msg.id">
              seen by {{ getSeenStatusesText(msg.messageSeenStatuses!) }}
            </div>
          </div>
          <!-- seen by -->
        </div>

        @if (msg.groupedReactions.length) {
        <div class="reaction-line">
          @for (item of msg.groupedReactions; track $index) {
          @if(item.reactions.length > 0){
          <span class="reaction-bubble" [title]="getTitles(item.reactions)">
            <i
              [class]="reactionModalsDict.get(item.title)?.class"
              [style]="reactionModalsDict.get(item.title)?.style"
            ></i>
            <span class="reaction-count">{{ item.reactions.length }}</span>
          </span>
          } }
        </div>
        }
      </div>

      <div class="chat-actions" [class.mine]="isSenderMe(msg.senderId)">
        <button (click)="replyTo(msg)" title="Reply">
          <i class="fas fa-reply"></i>
        </button>
        <button (click)="showReactionButtons(msg, $event)" title="React">
          <i class="fas fa-comment-dots"></i>
        </button>
      </div>
    </div>
    <div #scrollAnchor></div>
  </div>

  @if(replyToMessage){
  <div class="reply-preview">
    <div class="reply-header">
      <p>
        <strong>Replying to {{ userNameMap[replyToMessage.senderId] }}</strong>
      </p>
      <button (click)="cancelReply()"><i class="fas fa-times"></i></button>
    </div>
    <p class="reply-text">{{ replyToMessage.content }}</p>
  </div>
  }

  <div class="chat-input">
    <input
      [(ngModel)]="newMessage"
      (keydown.enter)="onSendMessage()"
      placeholder="Type your message..."
      #messageInput
      maxlength="500"
    />
    <button (click)="onSendMessage()">Send</button>
  </div>

  @if(reactToMessageId){
  <div
    class="reaction-popup"
    [ngStyle]="{
      top: reactionPopupPosition.top + 'px',
      left: reactionPopupPosition.left + 'px'
    }"
  >
    @for(react of reactionModals;track react.class){
    <button
      class="reaction-button"
      [title]="react.title"
      (click)="reactTo(react)"
    >
      <i [class]="react.class" [style]="react.style"></i>
    </button>
    }
  </div>
  }
</div>
